<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Recherche</title>
   <!-- Chargement des fichiers CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Chargement des fichiers JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="application.js"></script>
    <script src="../static/application.js"></script>
</head>
   <style>
      body {
        background-color: #0D1B2A;
      }
    </style>
<body>
   <nav class="nav-area">
       <ul>
           <li class="logo"><a href="/"><img src="../static/images/logo_1.png" alt="foto"></a></li>
           <li><a href="/">Accueil</a></li>
           <li><a href="#">Fournisseurs</a>
                <ul>
                    <li><a href="/add-fournisseur-auto">Automobiles</a>
                        <ul>
                            <li><a href="/add-fournisseur-auto">Ajouter</a>
                            <li><a href="/search-fournisseur-auto">Trouver</a>
                        </ul>
                    </li>
                    <li><a href="#">Pièces</a>
                        <ul>
                            <li><a href="/add-fournisseur-pieces">Ajouter</a>
                            <li><a href="/search-fournisseur-pieces">Trouver</a>
                        </ul>
                    </li>
                </ul>
           </li>
           <li><a href="/search">Rechercher</a>
                <ul>
                    <li><a href="/searchPiece">Pièces</a></li>
                    <li><a href="/search-employe">Employés</a></li>
                    <li><a href="/search-auto">Automobiles</a></li>
                    <li><a href="/searchLavageAuto">Lavage Auto</a></li>
                </ul>
           </li>
           <li><a href="/appropos">À propos</a></li>
           <li><a href="/logout">Se déconnecter</a></li>
       </ul>
   </nav>


   <div class="container mt-5">
      <h1 class="mb-4">Trouver Fournisseur Pièces</h1>
      <form action="/search-fournisseur-pieces" method="POST">
         <div class="form-group">

            <input type="text" class="form-control" id="querySearchFournPieces" name="querySearchFournPieces" required placeholder="Tapez ici">
         </div>
         <button type="submit" class="btn btn-primary">Rechercher</button>
      </form>
   </div>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-S8MgYsF0a0eX9cQ1L8lAVW2EVlmc7VdOw/D0R8VYpCJvO7Lb9UhfpIjA5PpN5g+q" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>